html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
}

/* 초기화 코드  */

header {}

header p {
    margin-left: 30px;
}

.header_inner {
    background-image: url(./images/background-image.png);
    background-size: 100% 86px;
    background-repeat: no-repeat;
    position: relative;
    height: 86px;
}

.logo {
    position: absolute;
    top: 0;
    left: 63%;
    transform: translateX(-50%);
}

img {
    width: 18%;
    height: 100%;
    object-fit: cover;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
}

.single-grid {
    width: 100%;
}

.artist-grid {
    display: flex;
    flex-wrap: wrap;
    margin-top: 86px;
}

.single-grid img {
    width: 100%;
    height: 100%;
}

h2 {
    position: absolute;
    bottom: 10%;
    left: 30px;
    font-size: 26px;
    font-weight: 400;
    color: #FF3901;
    text-transform: uppercase;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}