<!DOCTYPE html>
<link rel="icon" href="/static/favcon.ico">
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>웹 홈페이지</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <header>
        <div class="header_inner">
            <h1 class="logo">
                <img src="/static/images/AI---003.png">
            </h1>
        </div>
    </header>
    <!-- <a href="https://www.instagram.com/nayeonyny/" target="_blank">나연 인스타</a> -->
    <main>

        <div class="content">
            <div class="artist-grid">

                <div class="single-grid">
                    <div class="inner">
                        <a href="/content/profile/meow">
                            <img src="/static/images/women.png" alt="">
                        </a>
                    </div>
                </div>

            </div>
        </div>

    </main>
</body>

</html>