<!DOCTYPE html>
{% load static %}
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>웹 홈페이지</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <header>
        <div class="header_inner">
            <p>INFLUENCER</p>
            <h1 class="logo">AINF</h1>
        </div>
    </header>
    <!-- <a href="https://www.instagram.com/nayeonyny/" target="_blank">나연 인스타</a> -->
    <main>

        <div class="content">
            <div class="artist-grid" style="justify-content: center;">

                <div class="single-grid">
                    <div class="inner">
                        <a href="/content/profile/meow" target="_blank">
                            <img src="{% static './images/9077fb6c4b5d4e5e81be151e8292cb4e.webp' %}" alt="">
                        </a>
                        <h2>influencer</h2>
                    </div>
                </div>
                <!-- <div class="single-grid">
                    <div class="inner">
                        <a href="main" target="_blank">
                            <img src="{% static './images/kimhyejun_artist.jpg' %}" alt="">
                            <h2>Kim hye jun</h2>
                    </div>
                </div>
                <div class="single-grid">
                    <div class="inner">
                        <a href="main" target="_blank">
                            <img src="{% static './images/winter.jpg' %}" alt="">
                            <h2>winter</h2>
                    </div>
                </div>
                <div class="single-grid">
                    <div class="inner">
                        <a href="main" target="_blank">
                            <img src="{% static './images/kimtaeri.jpg' %}" alt="">
                            <h2>kim tae ri</h2>
                    </div>
                </div>
                <div class="single-grid">
                    <div class="inner">
                        <a href="main" target="_blank">
                            <img src="{% static './images/Hanjimin.jpg' %}" alt="">
                            <h2>han ji min</h2>
                    </div>
                </div>
                <div class="single-grid">
                    <div class="inner">
                        <a href="main" target="_blank">
                            <img src="{% static './images/parkeunbin.webp' %}" alt="">
                            <h2>park eun bin</h2>
                    </div>
                </div> -->

            </div>
        </div>

    </main>
</body>

</html>